<a href="https://colab.research.google.com/github/akibae7/ML-Project-Template/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**KNN**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
uploaded=files.upload()
import io

df =pd.read_csv(io.BytesIO(uploaded['mobile_price_classification.csv']))
df

Saving mobile_price_classification.csv to mobile_price_classification (1).csv

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [ ]:
df.shape

(2000, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [ ]:
#Featrures 
X = pd.DataFrame(df.iloc[:, 1:-1])
X

      blue  clock_speed  dual_sim  fc  ...  talk_time  three_g  touch_screen  wifi
0        0          2.2         0   1  ...         19        0             0     1
1        1          0.5         1   0  ...          7        1             1     0
2        1          0.5         1   2  ...          9        1             1     0
3        1          2.5         0   0  ...         11        1             0     0
4        1          1.2         0  13  ...         15        1             1     0
...    ...          ...       ...  ..  ...        ...      ...           ...   ...
1995     1          0.5         1   0  ...         19        1             1     0
1996     1          2.6         1   0  ...         16        1             1     1
1997     0          0.9         1   1  ...          5        1             1     0
1998     0          0.9         0   4  ...         19        1             1     1
1999     1          2.0         1   5  ...          2        1             1     1

[2000 rows x 19 columns]

In [ ]:
#Target
y = pd.DataFrame(df.iloc[:,-1])
y

      price_range
0               1
1               2
2               2
3               2
4               1
...           ...
1995            0
1996            2
1997            3
1998            0
1999            3

[2000 rows x 1 columns]

In [ ]:
# Split dataset into training set and test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train.values.ravel())

KNeighborsClassifier()

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.78

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[89 10  0  0]
 [15 73 11  0]
 [ 0 19 82 18]
 [ 0  0 15 68]]
              precision    recall  f1-score   support

           0       0.86      0.90      0.88        99
           1       0.72      0.74      0.73        99
           2       0.76      0.69      0.72       119
           3       0.79      0.82      0.80        83

    accuracy                           0.78       400
   macro avg       0.78      0.79      0.78       400
weighted avg       0.78      0.78      0.78       400

0.78